node-red/flows.json
[{"id":"1d28bac6.03df75","type":"tab","label":"Media","disabled":false,"info":""},{"id":"fc741630.090718","type":"tab","label":"alle switches","disabled":false,"info":""},{"id":"5fe1b3ba.3d9afc","type":"tab","label":"keuken","disabled":false,"info":""},{"id":"c8f60cc1.320b1","type":"tab","label":"Studeerkamer","disabled":false,"info":""},{"id":"ec6706fb.34f6a8","type":"tab","label":"Slaapkamer Jasper","disabled":false,"info":""},{"id":"4e665801.867a38","type":"tab","label":"Schuur","disabled":false,"info":""},{"id":"82f327e45020d903","type":"tab","label":"Slaapkamer Sander","disabled":false,"info":""},{"id":"5391eb8d36971a3d","type":"tab","label":"Badkamer","disabled":false,"info":""},{"id":"1895b069193ed6e6","type":"tab","label":"Eetkamer","disabled":false,"info":"","env":[]},{"id":"7823173e96eb469d","type":"tab","label":"Woonkamer","disabled":false,"info":"","env":[]},{"id":"df57f829a409dfdc","type":"tab","label":"buiten (keuken)","disabled":false,"info":"","env":[]},{"id":"ffc0fa7c0db0f914","type":"tab","label":"gang_overloop","disabled":false,"info":"","env":[]},{"id":"f08c488fd4165f43","type":"tab","label":"voorraadkast","disabled":false,"info":"","env":[]},{"id":"7f5392c79eb69de3","type":"tab","label":"Master bedroom","disabled":false,"info":"","env":[]},{"id":"713fcc8c4af70c04","type":"tab","label":"zolder","disabled":false,"info":"","env":[]},{"id":"6de60026cbffa5b8","type":"tab","label":"kleedkamer","disabled":false,"info":"","env":[]},{"id":"870fb8e55c5020c7","type":"tab","label":"Sandbox","disabled":false,"info":"","env":[]},{"id":"ba560387.ab5f58","type":"subflow","name":"timerange","info":"Lets through or blocks a payload\nbased on a time range. This can\neither be configured through the\nenviroment variables in the node ui\nor as described below with a message\nthat has an override topic.\nIf in range the msg will be passed\nto the first output and otherwise\nto the second.\nThe start and stop time needs\nto be defined in an hh:mm format.\nThere is also a week array. The week\nstarts on monday so 4 for example is\nThursday. Payload will only be passed\non days that are in the array.\nOut of time range payloads will\nbe redirected to the second output.\nThe schedule can be overriden by injecting\na message with the topic of \"override\"\nthat contains a ```msg.payload``` object with the\nkeys of \"start\",\"stop\",\"days\" like\nthis:\n```\n{\n    \"start\": \"10:00\",\n    \"stop\": \"14:00\",\n    \"days\": [\n        1,\n        2,\n        3,\n        4,\n        5,\n        6,\n        7\n    ]\n}\n```\nStart and stop need to be strings in the hh:mm\nformat and days an array of numbers as\ndescribed above.\nThe override can be deleted by injecting a\nmsg.payload string \"reset\".","category":"","in":[{"x":100,"y":100,"wires":[{"id":"dffc7695.523d9"}]}],"out":[{"x":620,"y":60,"wires":[{"id":"262fc2bc.80defe","port":0}]},{"x":620,"y":140,"wires":[{"id":"262fc2bc.80defe","port":1}]}],"env":[{"name":"start","type":"str","value":"00:00","ui":{"icon":"font-awesome/fa-arrow-right","label":{"en-US":"from hh:mm"},"type":"input","opts":{"types":["str"]}}},{"name":"stop","type":"str","value":"00:00","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"until hh:mm"},"type":"input","opts":{"types":["str"]}}},{"name":"days","type":"json","value":"[1,2,3,4,5,6,7]","ui":{"icon":"font-awesome/fa-calendar","label":{"en-US":"days"},"type":"input","opts":{"types":["json"]}}}],"color":"#C7E9C0","inputLabels":["payload input"],"outputLabels":["in time range","out of time range"],"icon":"node-red/switch.svg","status":{"x":480,"y":200,"wires":[{"id":"935a8f78.31a528","port":0}]}},{"id":"8850e193.e1712","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":140,"wires":[{"id":"40784bb1.204934"}]}],"out":[{"x":820,"y":120,"wires":[{"id":"a6525d2.cb354a","port":0}]}]},{"id":"98a84bc7.ca2988","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"c9d78a9d.917a28","type":"harmonyws-server","name":"harmony","ip":"192.168.178.5","debug":true},{"id":"7c096276.5832fc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58d04506.8b64ec","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"882b8d79.c6f51","type":"ui_group","name":"Group 1","tab":"58d04506.8b64ec","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"77b849cb.094c08","type":"ui_group","name":"Programmazione","tab":"5d954e3e.9339b","order":2,"disp":false,"width":8,"collapse":false},{"id":"317e9d9c.dea8e2","type":"ui_group","name":"Nest","tab":"5d954e3e.9339b","order":1,"disp":false,"width":8,"collapse":false},{"id":"41108723.0bf848","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"eaea6ba8.f76288","type":"ui_group","name":"Grafico","tab":"5d954e3e.9339b","order":3,"disp":false,"width":8,"collapse":false},{"id":"e767a130.9c455","type":"ui_group","name":"Countdown","tab":"5d954e3e.9339b","order":4,"disp":false,"width":"8","collapse":false},{"id":"5d954e3e.9339b","type":"ui_tab","name":"Cronotermostato","icon":"dashboard","disabled":false,"hidden":false},{"id":"294865fc.a5524a","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"fe2b3b25.eb7228","type":"light-scheduler-settings","name":"mijn schedule","latitude":"52.2146","longitude":"6.0147"},{"id":"5c1f747.ec4b98c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"4f5478d16c2d4105","type":"Hyperion-Server-Conf","ip":"192.168.178.83","port":"19444","name":"hyperion"},{"id":"0f38b901713747b7","type":"zigbee2mqtt-server","name":"z2m","host":"192.168.178.157","mqtt_port":"1883","mqtt_username":"mqtt_user","mqtt_password":"mqtt_user","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"e8ee445101fa8c52","type":"mqtt-broker","name":"ha MQTT","broker":"192.168.178.157","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"73c306f641b7fa07","type":"zigbee2mqtt-bridge-config","name":"ha mosquito","broker":"e8ee445101fa8c52","baseTopic":"zigbee2mqtt","enabledLogging":false,"allowDeviceStatusRefresh":true},{"id":"d733be98c7a161e6","type":"zigbee2mqtt-device-config","name":"buitenkeuken","bridge":"73c306f641b7fa07","deviceName":"---","brightnessSupport":false,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"d1e64946.492428","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"b69e65481f6d07e7","type":"zigbee2mqtt-device-config","z":"7823173e96eb469d","name":"wandkast","bridge":"73c306f641b7fa07","deviceName":"led_wandkast","brightnessSupport":true,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"e447d17a.16a64","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"c7cbc76b.fd06a8","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"779066dc.805a78","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"262fc2bc.80defe","type":"function","z":"ba560387.ab5f58","name":"is in range?","func":"const schedule = flow.get(\"schedule\");\nlet start = env.get(\"start\");\nlet stop = env.get(\"stop\");\nlet days = env.get(\"days\");\nif(schedule !== undefined){\n    start = schedule.start;\n    stop = schedule.stop;\n    days = schedule.days;\n}\nconst time = new Date();\nlet day = time.getDay();\nif(day === 0) day = 7;\nlet hour = String(time.getHours());\nlet minute = String(time.getMinutes());\nif(hour.length == 1) hour = \"0\" + hour;\nif(minute.length == 1) minute = \"0\" + minute;\nconst hmtime = hour + \":\" + minute;\nif(days.includes(day)){\n    if(start == stop){\n        return [msg, null];\n    } else if(start > stop){\n        if(hmtime >= start || hmtime < stop){\n            return [msg, null];\n        } else {\n            return [null, msg];\n        }\n    } else if(hmtime >= start && hmtime < stop){\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n} else {\n    return null;\n}","outputs":2,"noerr":0,"x":450,"y":100,"wires":[[],[]]},{"id":"8d9145c9.1c5d38","type":"inject","z":"ba560387.ab5f58","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["935a8f78.31a528"]]},{"id":"935a8f78.31a528","type":"function","z":"ba560387.ab5f58","name":"display rule","func":"const schedule = flow.get(\"schedule\");\nif(typeof schedule == \"object\"){\n    const start = schedule.start;\n    const stop = schedule.stop;\n    const days = String(schedule.days);\n    msg.payload = \"override: \" + start + \"-\" + stop + \"/\" + days;\n} else {\n    const start = env.get(\"start\");\n    const stop = env.get(\"stop\");\n    const days = String(env.get(\"days\"));\n    const override = false;\n    msg.payload = start + \"-\" + stop + \"/\" + days;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"dffc7695.523d9","type":"function","z":"ba560387.ab5f58","name":"check for override","func":"if(msg.topic == \"override\"){\n    flow.set(\"schedule\",msg.payload);\n    return [null, msg];\n} else if (msg.payload == \"reset\"){\n    let reset;\n    flow.set(\"schedule\",reset);\n    return [null, msg];\n} else {\n    return [msg, null];\n}","outputs":2,"noerr":0,"x":250,"y":100,"wires":[["262fc2bc.80defe"],["935a8f78.31a528"]]},{"id":"a0f72417.ea2838","type":"file","z":"8850e193.e1712","name":"backup","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":700,"y":160,"wires":[[]]},{"id":"70a2db09.6ff354","type":"file in","z":"8850e193.e1712","name":"restore","filename":"","format":"utf8","sendError":true,"x":530,"y":120,"wires":[["a6525d2.cb354a"]]},{"id":"922d4285.5f7e1","type":"json","z":"8850e193.e1712","name":"","property":"payload","action":"str","pretty":false,"x":530,"y":160,"wires":[["a0f72417.ea2838"]]},{"id":"a6525d2.cb354a","type":"json","z":"8850e193.e1712","name":"","property":"payload","action":"str","pretty":false,"x":690,"y":120,"wires":[[]]},{"id":"40784bb1.204934","type":"function","z":"8850e193.e1712","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    msg.filename =\"/share/chart.save\";\n    var loaded=context.get(strSafe)||0;\n    \n    if(0===loaded||strSafe==\"restore\")\n    {\n        //node.warn(\"Loading chart\");\n        msg.payload=\"load\";\n        context.set(strSafe,1);\n    }\n    else\n    {\n        //node.warn(\"Writing chart\");\n        //node.warn(msg.payload);\n    }\n    return msg;\n \n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":140,"wires":[["51fb3038.7afb6"]]},{"id":"51fb3038.7afb6","type":"switch","z":"8850e193.e1712","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"load","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":140,"wires":[["70a2db09.6ff354"],["922d4285.5f7e1"]]},{"id":"b83e3272.5044f","type":"switch","z":"1d28bac6.03df75","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":320,"y":460,"wires":[["83e9fd59.575ea"],["938f83bb.d3353","6a13bc9.70c3b44"]]},{"id":"9a243ae9.68a208","type":"api-call-service","z":"1d28bac6.03df75","name":"Stroom media apparaten aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.powerplug_onkyo, switch.powerplug_panasonic","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":40,"wires":[["93e14e17.74c2b"]]},{"id":"93e14e17.74c2b","type":"delay","z":"1d28bac6.03df75","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1240,"y":40,"wires":[["684c9ff2.8bb4a"]]},{"id":"684c9ff2.8bb4a","type":"api-call-service","z":"1d28bac6.03df75","name":"harmony scene aanzetten","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.woonkamer_tv_kijken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":40,"wires":[["5d7a8d9.689bf74"]]},{"id":"2d5f361b.2f053a","type":"debug","z":"1d28bac6.03df75","name":"tradfri switch media","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":520,"y":200,"wires":[]},{"id":"b822a3b0.f1c3a","type":"api-call-service","z":"1d28bac6.03df75","name":"bolean aan","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.media_woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":120,"wires":[["2d5f361b.2f053a"]]},{"id":"1bb347ea.123b48","type":"server-state-changed","z":"1d28bac6.03df75","name":"media state","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.media_woonkamer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":460,"wires":[["b83e3272.5044f"]]},{"id":"225ab582.9d4b0a","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1200,"wires":[["be61da28.c2beb8"]]},{"id":"1bc55477.a2afac","type":"debug","z":"1d28bac6.03df75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1200,"wires":[]},{"id":"be61da28.c2beb8","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo naar chromecast","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:InputVcr/Dvr","hold":"0","repeat":"1","delay":"0","x":430,"y":1200,"wires":[["1bc55477.a2afac"]]},{"id":"a649e956.950328","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1260,"wires":[["55372a0c.940bd4"]]},{"id":"55372a0c.940bd4","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo naar ziggo","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:InputBd/Dvd","hold":"0","repeat":"1","delay":"0","x":410,"y":1260,"wires":[["8d22ec1c.37c3f"]]},{"id":"5d7a8d9.689bf74","type":"delay","z":"1d28bac6.03df75","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1680,"y":40,"wires":[["491ba67a.ed65b8","361ce44237f3fef4"]]},{"id":"491ba67a.ed65b8","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo volume up","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:VolumeUp","hold":"0","repeat":"2","delay":"1","x":1870,"y":40,"wires":[["724b5dc2.92f1e4"]]},{"id":"a92f5dc1.79176","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo volume up","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:VolumeUp","hold":"0","repeat":"2","delay":"1","x":410,"y":1320,"wires":[[]]},{"id":"94b3c52d.39e5f8","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1320,"wires":[["a92f5dc1.79176"]]},{"id":"8d22ec1c.37c3f","type":"debug","z":"1d28bac6.03df75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1260,"wires":[]},{"id":"d2153fb.d653ec","type":"api-current-state","z":"1d28bac6.03df75","name":"check panasonic standby","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"remote.panasonic_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":750,"y":240,"wires":[["9119a0b8.e4379","cca44a24.b0e578"],["546483ee.6154ac","cca44a24.b0e578"]]},{"id":"83e9fd59.575ea","type":"api-current-state","z":"1d28bac6.03df75","name":"check panasonic stroom","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.powerplug_panasonic","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":750,"y":40,"wires":[["090a0227eb1c42aa"],["9a243ae9.68a208"]]},{"id":"2d6ebb25.77e934","type":"inject","z":"1d28bac6.03df75","name":"push","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1380,"wires":[["f16f8454.5fa688"]]},{"id":"b77b125f.5aa5b","type":"api-call-service","z":"1d28bac6.03df75","name":"nextbox uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.mediabox","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1340,"wires":[[]]},{"id":"1d7a0319.db0c5d","type":"api-current-state","z":"1d28bac6.03df75","name":"check nextbox aan","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.mediabox","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":730,"y":160,"wires":[["d2153fb.d653ec","dfc6eb45.9f01c8"],["445739e1.f86738","dfc6eb45.9f01c8"]]},{"id":"f16f8454.5fa688","type":"api-current-state","z":"1d28bac6.03df75","name":"check nextbox standby","server":"98a84bc7.ca2988","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.nextbox","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":1380,"wires":[["f6feba0fd4042235"]]},{"id":"864108fe.cf3e28","type":"api-call-service","z":"1d28bac6.03df75","name":"nextbox aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.mediabox","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1420,"wires":[[]]},{"id":"39d27993.27c536","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":60,"wires":[["83e9fd59.575ea"]]},{"id":"942eabcb.823ea8","type":"harmonyws-observer","z":"1d28bac6.03df75","name":"test","server":"c9d78a9d.917a28","startup":true,"toContext":true,"context":"global","contextKeyActivity":"activity","contextKeyAutomation":"automation","x":370,"y":1140,"wires":[["cb4050aa.4f81f"]]},{"id":"657ffe76.51b1e","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1140,"wires":[["942eabcb.823ea8"]]},{"id":"cb4050aa.4f81f","type":"debug","z":"1d28bac6.03df75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1140,"wires":[]},{"id":"445739e1.f86738","type":"harmonyws-command","z":"1d28bac6.03df75","name":"Next box aan","server":"c9d78a9d.917a28","activity":"63620903","command":"63620903:PowerToggle","hold":"0","repeat":"1","delay":"0","x":1010,"y":160,"wires":[["4d3a62d0.8d215c"]]},{"id":"4d3a62d0.8d215c","type":"delay","z":"1d28bac6.03df75","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1160,"y":160,"wires":[["d2153fb.d653ec"]]},{"id":"724b5dc2.92f1e4","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo volume up","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:VolumeDown","hold":"0","repeat":"2","delay":"1","x":2070,"y":40,"wires":[["873ef463.3a6d18","c938a2a3.37c4d"]]},{"id":"873ef463.3a6d18","type":"debug","z":"1d28bac6.03df75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2290,"y":40,"wires":[]},{"id":"9119a0b8.e4379","type":"harmonyws-command","z":"1d28bac6.03df75","name":"panasonic aan (van standby)","server":"c9d78a9d.917a28","activity":"24459407","command":"24459407:PowerOn","hold":"0","repeat":"1","delay":"0","x":1060,"y":220,"wires":[["546483ee.6154ac"]]},{"id":"546483ee.6154ac","type":"api-current-state","z":"1d28bac6.03df75","name":"check onkyo standby","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.receiver","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":740,"y":320,"wires":[["3c9d0226.50da1e"],["3c9d0226.50da1e"]]},{"id":"86853784.eda678","type":"switch","z":"1d28bac6.03df75","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":260,"y":200,"wires":[["b822a3b0.f1c3a","2d5f361b.2f053a"],["ca3dd588.0b2098","2d5f361b.2f053a"]]},{"id":"ca3dd588.0b2098","type":"api-call-service","z":"1d28bac6.03df75","name":"bolean uit","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.media_woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":260,"y":280,"wires":[["2d5f361b.2f053a"]]},{"id":"938f83bb.d3353","type":"debug","z":"1d28bac6.03df75","name":"input boolean triggered","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"89016205.d013f","type":"harmonyws-command","z":"1d28bac6.03df75","name":"Next box aan","server":"c9d78a9d.917a28","activity":"24459407","command":"24459407:PowerToggle","hold":"0","repeat":"1","delay":"0","x":390,"y":1440,"wires":[[]]},{"id":"855130d8.495cc","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1440,"wires":[["89016205.d013f"]]},{"id":"c938a2a3.37c4d","type":"api-current-state","z":"1d28bac6.03df75","name":"check nextbox aan","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"media_player.mediabox","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1970,"y":140,"wires":[["ad6cc230.0e692","1549de69.397222"],["1549de69.397222","6bed5ecd.399af","361ce44237f3fef4"]]},{"id":"9353f9e2.23e018","type":"harmonyws-command","z":"1d28bac6.03df75","name":"panasonic aan (van standby)","server":"c9d78a9d.917a28","activity":"24459407","command":"24459407:PowerOn","hold":"0","repeat":"1","delay":"0","x":2260,"y":480,"wires":[[]]},{"id":"ad6cc230.0e692","type":"api-current-state","z":"1d28bac6.03df75","name":"check panasonic standby","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"remote.panasonic_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1730,"y":500,"wires":[["9353f9e2.23e018","361ce44237f3fef4"],[]]},{"id":"6a13bc9.70c3b44","type":"api-call-service","z":"1d28bac6.03df75","name":"Stroom media apparaten uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.powerplug_panasonic, switch.powerplug_onkyo","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":500,"wires":[["45869cbe.321cb4","5340d43c.dd1f6c"]]},{"id":"5307d69f.ba3c48","type":"api-call-service","z":"1d28bac6.03df75","name":"harmony scene uitzetten","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.woonkamer_tv_kijken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":560,"wires":[["5340d43c.dd1f6c"]]},{"id":"45869cbe.321cb4","type":"delay","z":"1d28bac6.03df75","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":340,"y":560,"wires":[["5307d69f.ba3c48"]]},{"id":"dfc6eb45.9f01c8","type":"debug","z":"1d28bac6.03df75","name":"check next","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"cca44a24.b0e578","type":"debug","z":"1d28bac6.03df75","name":"check panasonic","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1270,"y":340,"wires":[]},{"id":"3c9d0226.50da1e","type":"debug","z":"1d28bac6.03df75","name":"check onkyo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":400,"wires":[]},{"id":"5340d43c.dd1f6c","type":"debug","z":"1d28bac6.03df75","name":"last check off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":500,"wires":[]},{"id":"1549de69.397222","type":"debug","z":"1d28bac6.03df75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2320,"y":140,"wires":[]},{"id":"b64a371e.7a21e8","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":1750,"y":140,"wires":[["c938a2a3.37c4d"]]},{"id":"6bed5ecd.399af","type":"api-call-service","z":"1d28bac6.03df75","name":"nextbox aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.mediabox","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2290,"y":180,"wires":[[]]},{"id":"83093af7.230e98","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1620,"wires":[[]]},{"id":"178b8ba0.b2b514","type":"harmonyws-command","z":"1d28bac6.03df75","name":"panasonic HDMI 1","server":"c9d78a9d.917a28","activity":"24459407","command":"24459407:IngangHdmi1","hold":"0","repeat":"1","delay":"0","x":410,"y":1520,"wires":[[]]},{"id":"402be28c.08e9fc","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1520,"wires":[["178b8ba0.b2b514"]]},{"id":"6aa6b760.491808","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":1580,"wires":[["e14b187a.838028"]]},{"id":"e14b187a.838028","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo Power on","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:PowerOn","hold":"0","repeat":"1","delay":"","x":400,"y":1580,"wires":[[]]},{"id":"361ce44237f3fef4","type":"api-call-service","z":"1d28bac6.03df75","name":"ambilight aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.first_led_hardware_instance","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2060,"y":340,"wires":[[]]},{"id":"c3c3f083dbf73e04","type":"server-state-changed","z":"1d28bac6.03df75","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ziggo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":1860,"wires":[["1951cfbc6dc77189","c1a94bbd109de321"]]},{"id":"c1a94bbd109de321","type":"switch","z":"1d28bac6.03df75","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":500,"y":1780,"wires":[["8d29fe05e79be854"],[]]},{"id":"1951cfbc6dc77189","type":"debug","z":"1d28bac6.03df75","name":"ziggo pushed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":1860,"wires":[]},{"id":"8d29fe05e79be854","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo naar ziggo","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:InputBd/Dvd","hold":"0","repeat":"1","delay":"0","x":730,"y":1760,"wires":[["1951cfbc6dc77189","7293fb9dfd273a2c"]]},{"id":"7293fb9dfd273a2c","type":"api-call-service","z":"1d28bac6.03df75","name":"bolean uit","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.chromecast","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1940,"wires":[[]]},{"id":"493bd1a310ada0f0","type":"server-state-changed","z":"1d28bac6.03df75","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.chromecast","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":2080,"wires":[["8a4300640b285567","c9366d9e62a73c18"]]},{"id":"c9366d9e62a73c18","type":"switch","z":"1d28bac6.03df75","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":500,"y":2000,"wires":[["c408c23f6edab72f"],[]]},{"id":"8a4300640b285567","type":"debug","z":"1d28bac6.03df75","name":"ziggo pushed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":2080,"wires":[]},{"id":"058f8e4032b6e912","type":"api-call-service","z":"1d28bac6.03df75","name":"bolean uit","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ziggo","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":2160,"wires":[[]]},{"id":"c408c23f6edab72f","type":"harmonyws-command","z":"1d28bac6.03df75","name":"onkyo naar chromecast","server":"c9d78a9d.917a28","activity":"65189959","command":"65189959:InputVcr/Dvr","hold":"0","repeat":"1","delay":"0","x":730,"y":1980,"wires":[["8a4300640b285567","058f8e4032b6e912"]]},{"id":"32bf2963968564f1","type":"inject","z":"1d28bac6.03df75","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":520,"wires":[["b83e3272.5044f"]]},{"id":"6a4bfd0ae8722280","type":"server-state-changed","z":"1d28bac6.03df75","name":"switch media","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_media_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":200,"wires":[["ae641a3316a51d54","86853784.eda678"]]},{"id":"ae641a3316a51d54","type":"debug","z":"1d28bac6.03df75","name":"media switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":90,"y":120,"wires":[]},{"id":"090a0227eb1c42aa","type":"api-current-state","z":"1d28bac6.03df75","name":"check onkyo stroom","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.powerplug_onkyo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":740,"y":100,"wires":[["1d7a0319.db0c5d"],["9a243ae9.68a208"]]},{"id":"f6feba0fd4042235","type":"debug","z":"1d28bac6.03df75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":1380,"wires":[]},{"id":"90a88d00.8690f","type":"inject","z":"fc741630.090718","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":140,"wires":[["30435bc.bc92aa4"]]},{"id":"630001bc.84003","type":"server-state-changed","z":"fc741630.090718","name":"Bedtijd","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bedtijd","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":80,"wires":[["30435bc.bc92aa4"]]},{"id":"9f795459.5b9738","type":"api-call-service","z":"fc741630.090718","name":"lampen woonkamer uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"switch.ac_09543ce_11, light.woonkamer, light.led_strip_woonkamer, light.first_led_hardware_instance, light.lamp_fotohoek_2, light.lamp_bank_2, light.lamp_hoek_bank_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":140,"wires":[[]]},{"id":"30435bc.bc92aa4","type":"switch","z":"fc741630.090718","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"1002","vt":"str"}],"checkall":"false","repair":true,"outputs":3,"x":300,"y":80,"wires":[["9f795459.5b9738","e9825303.51896","e38478ad.c54408","ce4a2c7f.ac9de","9337d830.4ff718","3dbe23c6.d2a09c","77f10387.4f239c","2a3fe2e1.130e1e","4bff6c63.8277b4","c6f552ad.c7e46","9ad800ba.a14f9","372bf275.bd395e","20a3077d.0f0688","1a89111a.cc9eff","57c0293b.8492d8","1c8ed6e699737f42","8a3634c047e2b265","b795395350e76a28"],[],[]]},{"id":"e9825303.51896","type":"api-call-service","z":"fc741630.090718","name":"switches woonkamer uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ac_09543ce_11","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":200,"wires":[[]]},{"id":"e38478ad.c54408","type":"api-call-service","z":"fc741630.090718","name":"lampen keuken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_keuken, light.ledstrip_keuken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":320,"wires":[[]]},{"id":"ce4a2c7f.ac9de","type":"api-call-service","z":"fc741630.090718","name":"lampen eeetkamer uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eettafel","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":260,"wires":[[]]},{"id":"9337d830.4ff718","type":"api-call-service","z":"fc741630.090718","name":"lampen gang aan.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lampen_kapstok_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":780,"wires":[["c446bce0.a2daa"]]},{"id":"c446bce0.a2daa","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":740,"y":780,"wires":[["6d30e792.270368"]]},{"id":"6d30e792.270368","type":"api-call-service","z":"fc741630.090718","name":"lampen gang uit.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lampen_kapstok_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":780,"wires":[[]]},{"id":"9d625ca1.d522a","type":"inject","z":"fc741630.090718","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":780,"wires":[["9337d830.4ff718","3dbe23c6.d2a09c"]]},{"id":"3dbe23c6.d2a09c","type":"api-call-service","z":"fc741630.090718","name":"lamp slaapkamer aan.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.moodlight_1, light.moodlight_2","data":"{ \"brightness_pct\": \"50\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":840,"wires":[["d65bf1b6.33aff"]]},{"id":"d65bf1b6.33aff","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":840,"wires":[["fb4d7ad2.876898"]]},{"id":"fb4d7ad2.876898","type":"api-call-service","z":"fc741630.090718","name":"lamp slaapkamer dimmen.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.moodlight_1, light.moodlight_2","data":"{ \"brightness_pct\": \"1\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":840,"wires":[["04a347a19df7c897"]]},{"id":"2ac24917.4cc836","type":"api-call-service","z":"fc741630.090718","name":"schakelaar terug naar off","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bedtijd","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":1140,"wires":[["e1f04cf1.bbfea"]]},{"id":"e1f04cf1.bbfea","type":"debug","z":"fc741630.090718","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":1140,"wires":[]},{"id":"77f10387.4f239c","type":"api-call-service","z":"fc741630.090718","name":"Charger auto aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.lader_ioniq","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":20,"wires":[[]]},{"id":"2a3fe2e1.130e1e","type":"api-call-service","z":"fc741630.090718","name":"lampen wandkast uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_wandkast","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":80,"wires":[[]]},{"id":"4bff6c63.8277b4","type":"api-call-service","z":"fc741630.090718","name":"lampen buiten keuken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.buitenkeuken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":380,"wires":[[]]},{"id":"c6f552ad.c7e46","type":"api-call-service","z":"fc741630.090718","name":"switches led buitenkeuken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ac_0bdea52_10","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":586.6666564941406,"y":424.9999694824219,"wires":[[]]},{"id":"9ad800ba.a14f9","type":"api-call-service","z":"fc741630.090718","name":"Media woonkamer uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.media_woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":480,"wires":[[]]},{"id":"372bf275.bd395e","type":"api-call-service","z":"fc741630.090718","name":"switches koffieapparaat uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.koffieapparaat","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":540,"wires":[[]]},{"id":"20a3077d.0f0688","type":"api-call-service","z":"fc741630.090718","name":"","server":"41108723.0bf848","version":3,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat","data":"{\"temperature\":\"15\",\"hvac_mode\":\"heat\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":580,"y":580,"wires":[[]]},{"id":"345a4149.932ace","type":"inject","z":"fc741630.090718","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":560,"wires":[["9f795459.5b9738","ce4a2c7f.ac9de","2a3fe2e1.130e1e","1a89111a.cc9eff"]]},{"id":"1a89111a.cc9eff","type":"api-call-service","z":"fc741630.090718","name":"kerstverlichting uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kerstverlichting","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":640,"wires":[[]]},{"id":"57c0293b.8492d8","type":"api-call-service","z":"fc741630.090718","name":"Zonnescherm inklappen","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ac_09543ce_12","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":700,"wires":[[]]},{"id":"04a347a19df7c897","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1180,"y":840,"wires":[["39b64f606894214c"]]},{"id":"39b64f606894214c","type":"api-call-service","z":"fc741630.090718","name":"lamp slaapkamer uit.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.moodlight_1, light.moodlight_2, light.plafond_lamp_slaapkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":840,"wires":[[]]},{"id":"1675b51afb5965d5","type":"api-call-service","z":"fc741630.090718","name":"ledstrip dimmen","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_masterbedroom","data":"{ \"brightness_pct\": \"70\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":920,"wires":[[]]},{"id":"2bf485f6a19f8e78","type":"inject","z":"fc741630.090718","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":1310,"y":1100,"wires":[[]]},{"id":"1c8ed6e699737f42","type":"api-call-service","z":"fc741630.090718","name":"ledstrip slaapkamer aan.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_masterbedroom","data":"{ \"brightness_pct\": \"99\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":920,"wires":[["b76dbfe42ca01ea1"]]},{"id":"b0152ca6cec86012","type":"inject","z":"fc741630.090718","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":250,"y":940,"wires":[["1c8ed6e699737f42"]]},{"id":"8a3634c047e2b265","type":"api-call-service","z":"fc741630.090718","name":"plafondlamp slaapkamer aan.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_lamp_slaapkamer","data":"{ \"brightness_pct\": \"50\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":980,"wires":[["154d486fc9b974e9"]]},{"id":"b76dbfe42ca01ea1","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"120","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":810,"y":920,"wires":[["1675b51afb5965d5"]]},{"id":"b795395350e76a28","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":530,"y":1140,"wires":[["2ac24917.4cc836"]]},{"id":"c536fa3b9894a78a","type":"inject","z":"fc741630.090718","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":250,"y":1020,"wires":[["8a3634c047e2b265"]]},{"id":"154d486fc9b974e9","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":980,"wires":[["f62b75858d866328"]]},{"id":"f62b75858d866328","type":"api-call-service","z":"fc741630.090718","name":"lamp slaapkamer dimmen.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_lamp_slaapkamer","data":"{ \"brightness_pct\": \"25\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":980,"wires":[["8e23da278239c20a"]]},{"id":"8e23da278239c20a","type":"delay","z":"fc741630.090718","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1240,"y":980,"wires":[["1731f690d527b220"]]},{"id":"1731f690d527b220","type":"api-call-service","z":"fc741630.090718","name":"lamp slaapkamer uit.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_lamp_slaapkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":980,"wires":[[]]},{"id":"11bdd1e9.96b6ae","type":"switch","z":"5fe1b3ba.3d9afc","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":360,"y":120,"wires":[["60c8dc54.606404"],["4b63700c99091ea0"],["9a7b7f2b5140a20a"],["106e5e7d.0c8592"]]},{"id":"60c8dc54.606404","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"ledstrip aan 50%","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_keuken","data":"{ \"brightness_pct\": \"50\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":80,"wires":[[]]},{"id":"6bd3e725.ef6e58","type":"inject","z":"5fe1b3ba.3d9afc","name":"push - on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":100,"y":40,"wires":[["11bdd1e9.96b6ae"]]},{"id":"864b5312.0bd56","type":"inject","z":"5fe1b3ba.3d9afc","name":"push - off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":100,"y":80,"wires":[["11bdd1e9.96b6ae"]]},{"id":"106e5e7d.0c8592","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"ledstrip uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ledstrip_keuken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":260,"wires":[[]]},{"id":"4b63700c99091ea0","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"ledstrip 100","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_keuken","data":"{ \"brightness_pct\": \"100\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":140,"wires":[[]]},{"id":"9a7b7f2b5140a20a","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"ledstrip 25%","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_keuken","data":"{ \"brightness_pct\": \"25\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":200,"wires":[[]]},{"id":"9e51b6ad3338717e","type":"server-state-changed","z":"5fe1b3ba.3d9afc","name":"schakelar keuken","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.schakelaar_keuken_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":300,"wires":[["11bdd1e9.96b6ae"]]},{"id":"3679cb724fa2d9c1","type":"debug","z":"5fe1b3ba.3d9afc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":560,"wires":[]},{"id":"259fc17c6a2af289","type":"switch","z":"5fe1b3ba.3d9afc","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":380,"y":440,"wires":[["23cb2d257c3d9be5"],["a7114baf0346a0d2"],["b4aae8c1576344b8"],["64bec4315f579147"]]},{"id":"b8faf18759454915","type":"server-state-changed","z":"5fe1b3ba.3d9afc","name":"schakelar keuken","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_plafond_keuken_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":420,"wires":[["259fc17c6a2af289","3679cb724fa2d9c1"]]},{"id":"23cb2d257c3d9be5","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"plafond_keuken aan 50%","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_keuken","data":"{ \"brightness_pct\": \"50\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":380,"wires":[[]]},{"id":"a7114baf0346a0d2","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"plafond_keuken 100","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_keuken","data":"{ \"brightness_pct\": \"100\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":440,"wires":[[]]},{"id":"b4aae8c1576344b8","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"plafond_keuken 25%","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_keuken","data":"{ \"brightness_pct\": \"25\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":500,"wires":[[]]},{"id":"64bec4315f579147","type":"api-call-service","z":"5fe1b3ba.3d9afc","name":"plafond_keuken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_keuken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":560,"wires":[[]]},{"id":"b9a6c74bb6784121","type":"inject","z":"5fe1b3ba.3d9afc","name":"push - on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":140,"y":500,"wires":[["259fc17c6a2af289"]]},{"id":"1459f2018b1354cf","type":"inject","z":"5fe1b3ba.3d9afc","name":"push - off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":140,"y":560,"wires":[["259fc17c6a2af289"]]},{"id":"abf60a4f.d886f8","type":"debug","z":"c8f60cc1.320b1","name":"schakelaar study","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":380,"wires":[]},{"id":"68ebf335.6a004c","type":"switch","z":"c8f60cc1.320b1","name":"selecteer welk aan uit","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":280,"y":140,"wires":[["51abda4e.3cb134"],["3166267a.cba26a"],["a8d3547.2f99aa8"],["f35b7bfb.b1ac58"]]},{"id":"51abda4e.3cb134","type":"api-call-service","z":"c8f60cc1.320b1","name":"aquariumverlichting aan","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.powerplug_aquarium","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":60,"wires":[["abf60a4f.d886f8"]]},{"id":"3166267a.cba26a","type":"api-call-service","z":"c8f60cc1.320b1","name":"aquariumverlichting uit","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.powerplug_aquarium","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":120,"wires":[["abf60a4f.d886f8"]]},{"id":"a8d3547.2f99aa8","type":"api-call-service","z":"c8f60cc1.320b1","name":"HNW Study aan","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.smart_plug_woox_socket_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":180,"wires":[[]]},{"id":"f35b7bfb.b1ac58","type":"api-call-service","z":"c8f60cc1.320b1","name":"HNW Study uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.smart_plug_woox_socket_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":240,"wires":[[]]},{"id":"54ea67b71f7d5249","type":"server-state-changed","z":"c8f60cc1.320b1","name":"schakelaar","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.schakelaar_studeerkamer_ikea_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":60,"y":200,"wires":[["68ebf335.6a004c","abf60a4f.d886f8"]]},{"id":"c57d8e09310d7685","type":"inject","z":"c8f60cc1.320b1","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"below_horizon","payloadType":"str","x":110,"y":380,"wires":[["271540c24f2f1791"]]},{"id":"3da3383d3edb8f25","type":"inject","z":"c8f60cc1.320b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":"","topic":"","payload":"It is 23pm on a weekday!","payloadType":"str","x":270,"y":560,"wires":[["5bb0cfaef093b3c8","3166267a.cba26a"]]},{"id":"5bb0cfaef093b3c8","type":"debug","z":"c8f60cc1.320b1","name":"","active":true,"console":"false","complete":"false","x":550,"y":560,"wires":[]},{"id":"457ebc82f64a93c2","type":"inject","z":"c8f60cc1.320b1","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"below_horizon","payloadType":"str","x":190,"y":60,"wires":[["51abda4e.3cb134"]]},{"id":"271540c24f2f1791","type":"api-current-state","z":"c8f60cc1.320b1","name":"","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"Below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":380,"wires":[["51abda4e.3cb134","abf60a4f.d886f8"],[]]},{"id":"5f0965ae.1689bc","type":"switch","z":"ec6706fb.34f6a8","name":"schakelaar ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"2001","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":360,"y":120,"wires":[["8d223a47.9355f8"],["c11e3708.6aa498"],["bb337a0b.288f38"],["7680f0a2.c5844"]]},{"id":"8d223a47.9355f8","type":"api-call-service","z":"ec6706fb.34f6a8","name":"lampen aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gu10_cct2, light.gu10_cct_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":100,"wires":[[]]},{"id":"c11e3708.6aa498","type":"api-call-service","z":"ec6706fb.34f6a8","name":"lampen uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gu10_cct2, light.gu10_cct_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":160,"wires":[[]]},{"id":"bb337a0b.288f38","type":"api-call-service","z":"ec6706fb.34f6a8","name":"schakelaar aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.on_off_plug_in_unit_3","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":624,"y":230,"wires":[[]]},{"id":"7680f0a2.c5844","type":"api-call-service","z":"ec6706fb.34f6a8","name":"schakelaar uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.on_off_plug_in_unit_3","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":619,"y":282,"wires":[[]]},{"id":"e7cbf67f1ed7e0fa","type":"server-state-changed","z":"ec6706fb.34f6a8","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.schakelaar_jasper_ikea_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":240,"wires":[["5f0965ae.1689bc","f7ddf18f3312085a"]]},{"id":"f7ddf18f3312085a","type":"debug","z":"ec6706fb.34f6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"c96b32751ee5f480","type":"time-range-switch","z":"4e665801.867a38","name":"time range","lat":"","lon":"","startTime":"23:00","endTime":"07:30","startOffset":0,"endOffset":0,"x":170,"y":280,"wires":[["3f389f36e34a13a8"],["fec6d234e5a9bc74"]]},{"id":"3f389f36e34a13a8","type":"api-current-state","z":"4e665801.867a38","name":"","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.lader_ioniq_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":180,"wires":[["21ba9969f11162a3"],["17e908f5c17e95b2"]]},{"id":"201012641006771f","type":"inject","z":"4e665801.867a38","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":180,"wires":[["c96b32751ee5f480"]]},{"id":"6d4f42ace4de4170","type":"debug","z":"4e665801.867a38","name":"wattage onder 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":160,"wires":[]},{"id":"17e908f5c17e95b2","type":"debug","z":"4e665801.867a38","name":"Wattage boven 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"21ba9969f11162a3","type":"api-call-service","z":"4e665801.867a38","name":"schakel uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.smart_plug_4","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":160,"wires":[["33c4a287c63c09d2"]]},{"id":"33c4a287c63c09d2","type":"delay","z":"4e665801.867a38","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":140,"wires":[["e27f85e120112527"]]},{"id":"e27f85e120112527","type":"api-call-service","z":"4e665801.867a38","name":"schakel in","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.smart_plug_4","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":160,"wires":[["6d4f42ace4de4170"]]},{"id":"fec6d234e5a9bc74","type":"debug","z":"4e665801.867a38","name":"tijd buiten range","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":280,"wires":[]},{"id":"02cd11e5245a8e85","type":"inject","z":"4e665801.867a38","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":120,"wires":[["3f389f36e34a13a8"]]},{"id":"256840112f9a0397","type":"switch","z":"82f327e45020d903","name":"schakelaar ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":120,"wires":[["06ac269f7d329d23"],["674d92af23cecb67"],["05f12c0102159045"],["98f84b23b5ab278a","36ad0ea86e9717a6"]]},{"id":"06ac269f7d329d23","type":"api-call-service","z":"82f327e45020d903","name":"lampen aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_smart_1, light.led_smart_2, light.led_smart_3, light.led_smart_7, light.led_smart_5","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":100,"wires":[[]]},{"id":"674d92af23cecb67","type":"api-call-service","z":"82f327e45020d903","name":"lampen uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_smart_1, light.led_smart_2, light.led_smart_3, light.led_smart_7, light.led_smart_5","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":160,"wires":[[]]},{"id":"670ed50eea6cd2da","type":"server-state-changed","z":"82f327e45020d903","name":"schakelaar sander","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.schakelaar_sander_ikea_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":160,"wires":[["256840112f9a0397","f3c0e7db01855eb4"]]},{"id":"05f12c0102159045","type":"api-call-service","z":"82f327e45020d903","name":"ledtrip aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_strip_sander","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":240,"wires":[[]]},{"id":"98f84b23b5ab278a","type":"api-call-service","z":"82f327e45020d903","name":"ledtrip uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_strip_sander","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":300,"wires":[[]]},{"id":"36ad0ea86e9717a6","type":"api-call-service","z":"82f327e45020d903","name":"lampen uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_smart_1, light.led_smart_2, light.led_smart_3, light.led_smart_7, light.led_smart_5","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":360,"wires":[[]]},{"id":"f3c0e7db01855eb4","type":"debug","z":"82f327e45020d903","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":320,"wires":[]},{"id":"711b47dbd4399ff6","type":"server-state-changed","z":"82f327e45020d903","name":"schakelar Sander 2","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":520,"wires":[["4d3126e14709671f","c45b024dc489e227"]]},{"id":"4d3126e14709671f","type":"switch","z":"82f327e45020d903","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":360,"y":620,"wires":[["5ba1e986848d8d51"],[],[],[]]},{"id":"c45b024dc489e227","type":"debug","z":"82f327e45020d903","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"c78db31864b65881","type":"api-call-service","z":"82f327e45020d903","name":"plug elektrische deken aan","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.power_plug_6","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":620,"wires":[[]]},{"id":"b8861a4ca2bcdae0","type":"api-call-service","z":"82f327e45020d903","name":"elektrische deken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.power_plug_6","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":580,"wires":[[]]},{"id":"5ba1e986848d8d51","type":"api-current-state","z":"82f327e45020d903","name":"check plug status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.power_plug_6","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":570,"y":600,"wires":[["b8861a4ca2bcdae0"],["c78db31864b65881"]]},{"id":"25b6280d.1ecf6","type":"inject","z":"5391eb8d36971a3d","name":"decrement","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":420,"y":180,"wires":[["8a41c1.6006b64"]]},{"id":"285e0e19.b9680a","type":"inject","z":"5391eb8d36971a3d","name":"increment","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":420,"y":140,"wires":[["ce8d952f.18666"]]},{"id":"fda0a334.bc9588","type":"inject","z":"5391eb8d36971a3d","name":"reset","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":410,"y":220,"wires":[["17cce981.975686"]]},{"id":"ce8d952f.18666","type":"function","z":"5391eb8d36971a3d","name":"msg object","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":140,"wires":[["ac65bf94.6e609"]]},{"id":"17cce981.975686","type":"function","z":"5391eb8d36971a3d","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["ac65bf94.6e609"]]},{"id":"8a41c1.6006b64","type":"function","z":"5391eb8d36971a3d","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["ac65bf94.6e609"]]},{"id":"ac65bf94.6e609","type":"counter","z":"5391eb8d36971a3d","name":"","init":"0","step":1,"lower":null,"upper":null,"mode":"increment","outputs":"1","x":780,"y":160,"wires":[["988afc3c.a08f98","cde744f768f8445e"]]},{"id":"370626a8.22216a","type":"inject","z":"5391eb8d36971a3d","name":"normal msg without control parameter","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":510,"y":100,"wires":[["ac65bf94.6e609"]]},{"id":"988afc3c.a08f98","type":"debug","z":"5391eb8d36971a3d","name":"message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":160,"wires":[]},{"id":"b0d0b37584c5db21","type":"server-state-changed","z":"5391eb8d36971a3d","name":"aantal keren gedoucht trigger","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.water_sensor_douche_water_leak","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":420,"wires":[["4b50023b04d58f61"]]},{"id":"4b50023b04d58f61","type":"switch","z":"5391eb8d36971a3d","name":"wet (douche aan)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"wet","vt":"str"},{"t":"eq","v":"Dry","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":true,"outputs":3,"x":370,"y":420,"wires":[["59b5065aad2c8880"],[],["59b5065aad2c8880"]]},{"id":"8bc5ac2fe8b6f2d9","type":"function","z":"5391eb8d36971a3d","name":"msg object","func":"flow.set('doucheteller', msg.payload);\nvar val10 = parseFloat(flow.get(\"doucheteller\") || \"0\");\nmsg.payload = parseFloat(flow.get(\"val11\") || \"0\") + val10 +1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":420,"wires":[["b66a5345edf3d257"]]},{"id":"57f098688f58a59f","type":"debug","z":"5391eb8d36971a3d","name":"aantal douch starts","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"b66a5345edf3d257","type":"ha-entity","z":"5391eb8d36971a3d","name":"douche count","server":"98a84bc7.ca2988","version":2,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"douche_count"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1060,"y":480,"wires":[["57f098688f58a59f"]]},{"id":"3650ff3452fc3043","type":"api-current-state","z":"5391eb8d36971a3d","name":"douche count","server":"98a84bc7.ca2988","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.douche_count","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":320,"wires":[["8469aca58b55bd16"]]},{"id":"8469aca58b55bd16","type":"debug","z":"5391eb8d36971a3d","name":"douche count info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"a3cc32569178fb82","type":"inject","z":"5391eb8d36971a3d","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":70,"y":320,"wires":[["3650ff3452fc3043"]]},{"id":"cde744f768f8445e","type":"ha-entity","z":"5391eb8d36971a3d","name":"douche count","server":"98a84bc7.ca2988","version":2,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"douche_count"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"count","stateType":"msg","attributes":[{"property":"state","value":"count","valueType":"num"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":960,"y":220,"wires":[[]]},{"id":"f7554b2f89c47ce7","type":"function","z":"5391eb8d36971a3d","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":560,"wires":[[]]},{"id":"c5b9646bbc32f4f8","type":"inject","z":"5391eb8d36971a3d","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":330,"y":560,"wires":[["f7554b2f89c47ce7"]]},{"id":"fcd28f0154d1ec1b","type":"inject","z":"5391eb8d36971a3d","name":"increment","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"on","payloadType":"str","x":320,"y":480,"wires":[["0ff04846f160d645"]]},{"id":"0ff04846f160d645","type":"function","z":"5391eb8d36971a3d","name":"msg object","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":480,"wires":[[]]},{"id":"3e503d1dfc8e8c3b","type":"function","z":"5391eb8d36971a3d","name":"waterstand opnemen bij einde douchen","func":"flow.set('waterstop', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":980,"wires":[["2f963a057bcda383"]]},{"id":"944d9f9ea9b23ed8","type":"function","z":"5391eb8d36971a3d","name":"variable set","func":"flow.set('waterstart', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":900,"wires":[["977f9da57db287b2"]]},{"id":"977f9da57db287b2","type":"debug","z":"5391eb8d36971a3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":900,"wires":[]},{"id":"835651825722bacb","type":"inject","z":"5391eb8d36971a3d","name":"push wet","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"wet","payloadType":"str","x":200,"y":760,"wires":[["109b25104d31f25b"]]},{"id":"5c7f68f4aebf748d","type":"api-current-state","z":"5391eb8d36971a3d","name":"","server":"98a84bc7.ca2988","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.watermeter_quantity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":900,"wires":[["944d9f9ea9b23ed8"]]},{"id":"b23b460815af3709","type":"inject","z":"5391eb8d36971a3d","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":1140,"wires":[["ccb12e4cc5d08711"]]},{"id":"4eed20618741b5f8","type":"api-current-state","z":"5391eb8d36971a3d","name":"","server":"98a84bc7.ca2988","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.watermeter_quantity","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":980,"wires":[["3e503d1dfc8e8c3b"]]},{"id":"2f963a057bcda383","type":"function","z":"5391eb8d36971a3d","name":"lets do the math","func":"var val1 = parseFloat(flow.get(\"waterstart\") || \"0\");\nvar val2 = parseFloat(flow.get(\"waterstop\") || \"0\");\nmsg.payload = parseFloat(flow.get(\"val3\") || \"0\") + val2 - val1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1040,"wires":[["5d1859b1323c1d09","d0bfec593da23f3a"]]},{"id":"385a8859b00f17da","type":"server-state-changed","z":"5391eb8d36971a3d","name":"bat","server":"779066dc.805a78","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.coinbase_bat_calc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1760,"wires":[["246e192938acf2d5"]]},{"id":"246e192938acf2d5","type":"change","z":"5391eb8d36971a3d","name":"change","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":".","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1760,"wires":[["3ad7f1b11d9ff514"]]},{"id":"3ad7f1b11d9ff514","type":"change","z":"5391eb8d36971a3d","name":"","rules":[{"t":"set","p":"val1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1760,"wires":[["e0078b75b75d8265"]]},{"id":"e0078b75b75d8265","type":"function","z":"5391eb8d36971a3d","name":"add","func":"var val1 = parseFloat(flow.get(\"val1\") || \"0\");\nvar val2 = parseFloat(flow.get(\"val2\") || \"0\");\nmsg.payload = parseFloat(flow.get(\"val3\") || \"0\") + val1 + val2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1820,"wires":[[]]},{"id":"7941ccf2fa665e63","type":"change","z":"5391eb8d36971a3d","name":"","rules":[{"t":"set","p":"val2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1820,"wires":[["e0078b75b75d8265"]]},{"id":"71105e99e6f48b71","type":"change","z":"5391eb8d36971a3d","name":"change","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":".","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1820,"wires":[["7941ccf2fa665e63"]]},{"id":"590cc6a01d0efd97","type":"server-state-changed","z":"5391eb8d36971a3d","name":"dai","server":"779066dc.805a78","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.coinbase_dai_calc","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1820,"wires":[["71105e99e6f48b71"]]},{"id":"096bcead1199ea0b","type":"debug","z":"5391eb8d36971a3d","name":"laat watersessieverbruik zien","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1450,"y":1040,"wires":[]},{"id":"b92172645abcab09","type":"server-state-changed","z":"5391eb8d36971a3d","name":"douche water sensor","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.water_sensor_douche_water_leak","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":840,"wires":[["109b25104d31f25b"]]},{"id":"109b25104d31f25b","type":"switch","z":"5391eb8d36971a3d","name":"wet (douche aan)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"wet","vt":"str"},{"t":"eq","v":"dry","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":150,"y":920,"wires":[["1bbbe05204047047"],["2e3f7daa9e2f8e0f"],["bcedeac62cb1c95f"],["2dffa2fcf8e7ab93"]]},{"id":"3be1e9063c9fbdcc","type":"ha-entity","z":"5391eb8d36971a3d","name":"water verbruik douchen","server":"98a84bc7.ca2988","version":2,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"waterverbruik_douchen"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"l"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1430,"y":1180,"wires":[[]]},{"id":"5d1859b1323c1d09","type":"ha-entity","z":"5391eb8d36971a3d","name":"water verbruik laatste douchebeurt","server":"98a84bc7.ca2988","version":2,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"waterverbruik_laatste_douch"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"l"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1460,"y":1120,"wires":[[]]},{"id":"ccb12e4cc5d08711","type":"delay","z":"5391eb8d36971a3d","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":1040,"wires":[["4eed20618741b5f8","0bd86c3faa0e7680"]]},{"id":"a4794ef406d9898f","type":"inject","z":"5391eb8d36971a3d","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":1350,"y":1280,"wires":[["3be1e9063c9fbdcc"]]},{"id":"0bd86c3faa0e7680","type":"api-current-state","z":"5391eb8d36971a3d","name":"","server":"98a84bc7.ca2988","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.waterverbruik_douchen","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":856,"y":1099,"wires":[["2208e448cbb555a9"]]},{"id":"fa7e12b14b290f83","type":"inject","z":"5391eb8d36971a3d","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":1200,"wires":[["0bd86c3faa0e7680"]]},{"id":"b5effd9925f33986","type":"debug","z":"5391eb8d36971a3d","name":"lees verbruik","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1000,"y":1300,"wires":[]},{"id":"2208e448cbb555a9","type":"delay","z":"5391eb8d36971a3d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":1100,"wires":[["bb8049fccd100ef4"]]},{"id":"bb8049fccd100ef4","type":"function","z":"5391eb8d36971a3d","name":"variable set doucheverbruik","func":"flow.set('doucheverbruik', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1180,"wires":[["6ed54da7996ca8ee"]]},{"id":"6ed54da7996ca8ee","type":"function","z":"5391eb8d36971a3d","name":"lets do the math","func":"var val4 = parseFloat(flow.get(\"watersessieverbruik\") || \"0\");\nvar val5 = parseFloat(flow.get(\"doucheverbruik\") || \"0\");\nmsg.payload = parseFloat(flow.get(\"val6\") || \"0\") + val4 + val5;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1300,"wires":[["b5effd9925f33986","3be1e9063c9fbdcc"]]},{"id":"d0bfec593da23f3a","type":"function","z":"5391eb8d36971a3d","name":"variable set","func":"flow.set('watersessieverbruik', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1080,"wires":[["096bcead1199ea0b"]]},{"id":"59b5065aad2c8880","type":"api-current-state","z":"5391eb8d36971a3d","name":"douche count","server":"98a84bc7.ca2988","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.douche_count","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":360,"wires":[["8bc5ac2fe8b6f2d9"]]},{"id":"a1e376f7b03f9943","type":"inject","z":"5391eb8d36971a3d","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":520,"wires":[["4b50023b04d58f61"]]},{"id":"1bbbe05204047047","type":"rbe","z":"5391eb8d36971a3d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":390,"y":760,"wires":[["5c7f68f4aebf748d"]]},{"id":"bcedeac62cb1c95f","type":"rbe","z":"5391eb8d36971a3d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":390,"y":860,"wires":[["5c7f68f4aebf748d"]]},{"id":"2e3f7daa9e2f8e0f","type":"rbe","z":"5391eb8d36971a3d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":390,"y":920,"wires":[["ccb12e4cc5d08711"]]},{"id":"2dffa2fcf8e7ab93","type":"rbe","z":"5391eb8d36971a3d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":390,"y":1000,"wires":[["ccb12e4cc5d08711"]]},{"id":"5562f3d16f681fc3","type":"inject","z":"5391eb8d36971a3d","name":"push dry","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dry","payloadType":"str","x":100,"y":1040,"wires":[["109b25104d31f25b"]]},{"id":"2bb67ef5ee922317","type":"api-call-service","z":"1895b069193ed6e6","name":"lampen eeetkamer uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eettafel","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":40,"wires":[["e2f9117d59a20b2c"]]},{"id":"bbd5f6cceb7c1b60","type":"server-state-changed","z":"1895b069193ed6e6","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multy_switch_eettafel_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":40,"wires":[["e2f9117d59a20b2c","75a831d8a5d87f6e"]]},{"id":"e2f9117d59a20b2c","type":"debug","z":"1895b069193ed6e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"db651098dc070c70","type":"api-current-state","z":"1895b069193ed6e6","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.eettafel","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":140,"wires":[["2bb67ef5ee922317"],["5bec78dc8f5cb5a4"]]},{"id":"5bec78dc8f5cb5a4","type":"api-call-service","z":"1895b069193ed6e6","name":"lampen eeetkamer aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.eettafel","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":200,"wires":[["e2f9117d59a20b2c"]]},{"id":"75a831d8a5d87f6e","type":"switch","z":"1895b069193ed6e6","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":176,"y":208,"wires":[["db651098dc070c70"],[],[],[]]},{"id":"4def63d8dbf922aa","type":"api-call-service","z":"7823173e96eb469d","name":"lampen woonkamer uit (zigbee)","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":60,"wires":[[]]},{"id":"74b80c6595a1de54","type":"api-current-state","z":"7823173e96eb469d","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.woonkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":590,"y":80,"wires":[["4def63d8dbf922aa","e9bccf5dbbf73432"],["b0f15a45f6b15eaf","a79f2b57e07307f6"]]},{"id":"b0f15a45f6b15eaf","type":"api-call-service","z":"7823173e96eb469d","name":"lampen woonkamer aan (zigbee)","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":280,"wires":[[]]},{"id":"e9bccf5dbbf73432","type":"api-call-service","z":"7823173e96eb469d","name":"lampen woonkamer uit ","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wandkast_2, light.led_strip_woonkamer, light.lamp_fotohoek","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":120,"wires":[[]]},{"id":"a79f2b57e07307f6","type":"api-call-service","z":"7823173e96eb469d","name":"lampen woonkamer aan ","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wandkast_2, light.led_strip_woonkamer, light.lamp_fotohoek","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":220,"wires":[[]]},{"id":"ad59871c61227219","type":"server-state-changed","z":"7823173e96eb469d","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiswitch_woonkamer_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":60,"wires":[["49042c99c0bb3aed"]]},{"id":"49042c99c0bb3aed","type":"switch","z":"7823173e96eb469d","name":"welke knop","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":160,"y":240,"wires":[["74b80c6595a1de54"],["f4a3335c5c4dd262"],["96994d0027e2b7d1"],[]]},{"id":"f4a3335c5c4dd262","type":"api-call-service","z":"7823173e96eb469d","name":"ledstrip woonkamer aan ","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.led_strip_woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":400,"wires":[[]]},{"id":"96994d0027e2b7d1","type":"api-call-service","z":"7823173e96eb469d","name":"ledstrip woonkamer uit ","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.led_strip_woonkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":460,"wires":[[]]},{"id":"93dd3b7bf9c1983f","type":"server-state-changed","z":"df57f829a409dfdc","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_buitenkeuken_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":160,"wires":[["271c43fec23c0cbe"]]},{"id":"271c43fec23c0cbe","type":"switch","z":"df57f829a409dfdc","name":"schakelaar ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":160,"wires":[["83aa95ec80486c78"],["93ae6197dc9dced4"],[],[]]},{"id":"83aa95ec80486c78","type":"api-call-service","z":"df57f829a409dfdc","name":"buitenkeuken aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.buitenkeuken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":140,"wires":[[]]},{"id":"93ae6197dc9dced4","type":"api-call-service","z":"df57f829a409dfdc","name":"buitenkeuken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.buitenkeuken","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":200,"wires":[[]]},{"id":"49d9caadfa8ade8f","type":"server-state-changed","z":"ffc0fa7c0db0f914","name":"schakelaar gang","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_kapstok_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":80,"wires":[["63a5c5461559fb86"]]},{"id":"53ee0b909ace677e","type":"api-current-state","z":"ffc0fa7c0db0f914","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lamp_plafond_gang","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":220,"wires":[["ce89a77a14a549e2"],["a6bc74949c4ccf0d"]]},{"id":"0c958c9478ee25e1","type":"inject","z":"ffc0fa7c0db0f914","name":"push","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":440,"wires":[[]]},{"id":"c0a9561f5c8ee59b","type":"debug","z":"ffc0fa7c0db0f914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":40,"wires":[]},{"id":"a6bc74949c4ccf0d","type":"api-call-service","z":"ffc0fa7c0db0f914","name":"ganglamp plafond aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamp_plafond_gang","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":260,"wires":[[]]},{"id":"ce89a77a14a549e2","type":"api-call-service","z":"ffc0fa7c0db0f914","name":"ganglamp plafond uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamp_plafond_gang","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":200,"wires":[[]]},{"id":"63a5c5461559fb86","type":"switch","z":"ffc0fa7c0db0f914","name":"selecteer welk aan uit","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":220,"y":260,"wires":[["25563bfd978b13cb"],["53ee0b909ace677e"],[],["a37a526baa7ad319"]]},{"id":"25563bfd978b13cb","type":"api-current-state","z":"ffc0fa7c0db0f914","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lamp_overloop_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":120,"wires":[["6c450c1b0b4bda61"],["76b3113bbde2f317"]]},{"id":"6c450c1b0b4bda61","type":"api-call-service","z":"ffc0fa7c0db0f914","name":"lampen overloop uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamp_overloop_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":80,"wires":[[]]},{"id":"76b3113bbde2f317","type":"api-call-service","z":"ffc0fa7c0db0f914","name":"lampen overloop aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamp_overloop_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":140,"wires":[[]]},{"id":"42701d515e9467c4","type":"server-state-changed","z":"ffc0fa7c0db0f914","name":"schakelaar overloop","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_overloop_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":95,"y":381,"wires":[["63a5c5461559fb86"]]},{"id":"a37a526baa7ad319","type":"api-current-state","z":"ffc0fa7c0db0f914","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lampen_kapstok_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":340,"wires":[["b4a147c71abc7d5c"],["2651a7f5fef4794a"]]},{"id":"b4a147c71abc7d5c","type":"api-call-service","z":"ffc0fa7c0db0f914","name":"lampen kapstok uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lampen_kapstok_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":320,"wires":[[]]},{"id":"2651a7f5fef4794a","type":"api-call-service","z":"ffc0fa7c0db0f914","name":"lampen kapstok aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lampen_kapstok_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":380,"wires":[[]]},{"id":"3b255aa397e8a6cb","type":"server-state-changed","z":"f08c488fd4165f43","name":"bewegingsmelder voorraadkast","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_voorraadkast_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":100,"wires":[["c4c7b1d23c5b269a","3718cdab4d283d40"]]},{"id":"c4c7b1d23c5b269a","type":"debug","z":"f08c488fd4165f43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":100,"wires":[]},{"id":"3718cdab4d283d40","type":"switch","z":"f08c488fd4165f43","name":"selecteer welk aan uit","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":440,"y":180,"wires":[["07868fcdb326abab"],["72f93f81b35ffa40"],[],[]]},{"id":"72f93f81b35ffa40","type":"api-call-service","z":"f08c488fd4165f43","name":"lamp voorraadkast uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lamp_voorraadkast","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":200,"wires":[[]]},{"id":"07868fcdb326abab","type":"api-call-service","z":"f08c488fd4165f43","name":"lampen voorraadkast aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lamp_voorraadkast","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":140,"wires":[[]]},{"id":"5de5f607b099b55a","type":"server-state-changed","z":"7f5392c79eb69de3","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_masterbedroom_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":340,"y":140,"wires":[["b6b9a808fb3095c2","502937ac.4cfc58"]]},{"id":"b6b9a808fb3095c2","type":"debug","z":"7f5392c79eb69de3","name":"button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":280,"wires":[]},{"id":"502937ac.4cfc58","type":"switch","z":"7f5392c79eb69de3","name":"buttons","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":140,"y":520,"wires":[["aa3c7c2ad2fdde24"],["671cb1908cdd1dcc"],["e375c6ff9db50a1e"],["36df2bef6a855501"]]},{"id":"c557b2af.48c71","type":"api-current-state","z":"7f5392c79eb69de3","name":"master bedroom","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.ledstrip_masterbedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":510,"y":740,"wires":[["79adaf21.4c79"],[]]},{"id":"79adaf21.4c79","type":"function","z":"7f5392c79eb69de3","name":"increase brightness","func":"varBright = msg.data.attributes.brightness;\nvarEntity = msg.data.entity_id;\nif (varBright < 200) {varBrightness = varBright + 50}\nelse {varBrightness = 254}\nmsg.payload = {\"entity_id\":varEntity}\nmsg.payload.data = {\"brightness\":varBrightness}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":740,"wires":[["cbd07bd9.6bd9b8"]]},{"id":"cbd07bd9.6bd9b8","type":"api-call-service","z":"7f5392c79eb69de3","name":"master bedroom","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{payload.entity_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":760,"wires":[["b06bf7edfcceb3a1"]]},{"id":"49a1dbdb.af75b4","type":"api-current-state","z":"7f5392c79eb69de3","name":"master bedroom","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.ledstrip_masterbedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":510,"y":800,"wires":[["c6890385.59443"],[]]},{"id":"c6890385.59443","type":"function","z":"7f5392c79eb69de3","name":"decrease brightness","func":"varBright = msg.data.attributes.brightness;\nvarEntity = msg.data.entity_id;\nif (varBright > 60) {varBrightness = varBright - 50}\nelse {varBrightness = 1}\nmsg.payload = {\"entity_id\":varEntity}\nmsg.payload.data = {\"brightness\":varBrightness}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":780,"wires":[["cbd07bd9.6bd9b8"]]},{"id":"3272b075.7f04","type":"api-call-service","z":"7f5392c79eb69de3","name":"ledstrip masterbedroom aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_masterbedroom","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":660,"wires":[[]]},{"id":"7805ce5bc576dbc9","type":"api-call-service","z":"7f5392c79eb69de3","name":"ledstrip masterbedroom uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ledstrip_masterbedroom","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":600,"wires":[[]]},{"id":"36df2bef6a855501","type":"api-current-state","z":"7f5392c79eb69de3","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.ledstrip_masterbedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":430,"y":620,"wires":[["7805ce5bc576dbc9"],["3272b075.7f04"]]},{"id":"aa3c7c2ad2fdde24","type":"api-current-state","z":"7f5392c79eb69de3","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.plafond_lamp_slaapkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":360,"wires":[["d9b0e4d9484250f5"],["71a24770a6137f11"]]},{"id":"d9b0e4d9484250f5","type":"api-call-service","z":"7f5392c79eb69de3","name":"plafondlamp masterbedroom uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_lamp_slaapkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":340,"wires":[[]]},{"id":"71a24770a6137f11","type":"api-call-service","z":"7f5392c79eb69de3","name":"plafondlamp masterbedroom aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_lamp_slaapkamer","data":"{ \"brightness_pct\": \"65\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":400,"wires":[[]]},{"id":"b06bf7edfcceb3a1","type":"debug","z":"7f5392c79eb69de3","name":"commando variabele","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":760,"wires":[]},{"id":"e375c6ff9db50a1e","type":"api-call-service","z":"7f5392c79eb69de3","name":"alle lampen masterbedroom uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_lamp_slaapkamer, light.ledstrip_masterbedroom, light.moodlight_1, light.moodlight_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":520,"wires":[[]]},{"id":"671cb1908cdd1dcc","type":"api-call-service","z":"7f5392c79eb69de3","name":"plafondlamp masterbedroom aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_lamp_slaapkamer","data":"{ \"brightness_pct\": \"99\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":480,"wires":[[]]},{"id":"c2fd4351a8adb4f0","type":"server-state-changed","z":"7f5392c79eb69de3","name":"","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multy_switch_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1020,"wires":[["c07143db62a43d50","55db9e73509d1b97"]]},{"id":"c07143db62a43d50","type":"debug","z":"7f5392c79eb69de3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1020,"wires":[]},{"id":"55db9e73509d1b97","type":"switch","z":"7f5392c79eb69de3","name":"buttons","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_left_hold","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_right_hold","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":140,"y":1200,"wires":[["7f8b5b8cfbf255a7"],["990106e05d6ba2c6"],[],["ea42f50f0807b30f"],[],[],[],["8bea4b89fc3a9b87"],[]]},{"id":"7f8b5b8cfbf255a7","type":"api-current-state","z":"7f5392c79eb69de3","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.plafond_lamp_slaapkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":550,"y":1140,"wires":[["19e81778cf85e579"],["ccf3f541199d1e1a"]]},{"id":"19e81778cf85e579","type":"api-call-service","z":"7f5392c79eb69de3","name":"plafondlamp masterbedroom uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_lamp_slaapkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1120,"wires":[[]]},{"id":"ccf3f541199d1e1a","type":"api-call-service","z":"7f5392c79eb69de3","name":"plafondlamp masterbedroom aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_lamp_slaapkamer","data":"{ \"brightness_pct\": \"65\" }","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":1160,"wires":[[]]},{"id":"8bea4b89fc3a9b87","type":"api-current-state","z":"7f5392c79eb69de3","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.ledstrip_masterbedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":530,"y":1520,"wires":[["dd93ea840a6e2c44"],["66360b9d406c9131"]]},{"id":"dd93ea840a6e2c44","type":"api-call-service","z":"7f5392c79eb69de3","name":"ledstrip masterbedroom uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ledstrip_masterbedroom","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1500,"wires":[[]]},{"id":"66360b9d406c9131","type":"api-call-service","z":"7f5392c79eb69de3","name":"ledstrip masterbedroom aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledstrip_masterbedroom","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1560,"wires":[[]]},{"id":"da7b4db2da62bf4a","type":"api-call-service","z":"7f5392c79eb69de3","name":"moodlight kant mark aan.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.moodlight_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":1280,"wires":[[]]},{"id":"990106e05d6ba2c6","type":"api-current-state","z":"7f5392c79eb69de3","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.moodlight_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":530,"y":1220,"wires":[["1da882186af49bd9"],["da7b4db2da62bf4a"]]},{"id":"1da882186af49bd9","type":"api-call-service","z":"7f5392c79eb69de3","name":"moodlight kant mark uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.moodlight_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":1220,"wires":[[]]},{"id":"ea42f50f0807b30f","type":"api-current-state","z":"7f5392c79eb69de3","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.moodlight_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":530,"y":1340,"wires":[["0d47f6580dd94c74"],["c9f54d16b305b1f8"]]},{"id":"0d47f6580dd94c74","type":"api-call-service","z":"7f5392c79eb69de3","name":"moodlight kant mark uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.moodlight_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":1340,"wires":[[]]},{"id":"c9f54d16b305b1f8","type":"api-call-service","z":"7f5392c79eb69de3","name":"moodlight kant mark aan.","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.moodlight_2","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":1400,"wires":[[]]},{"id":"e214ffd13c8b29c3","type":"server-state-changed","z":"713fcc8c4af70c04","name":"schakelar Sander 2","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":120,"wires":[["1c382aeb301e391a","39bd9e6652df1488"]]},{"id":"1c382aeb301e391a","type":"switch","z":"713fcc8c4af70c04","name":"On / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_up","vt":"str"},{"t":"eq","v":"brightness_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":380,"y":220,"wires":[["b539f96a18b1a424"],[],[],["35405f412126893d"]]},{"id":"39bd9e6652df1488","type":"debug","z":"713fcc8c4af70c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"b539f96a18b1a424","type":"api-call-service","z":"713fcc8c4af70c04","name":"plug elektrische deken aan","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.power_plug_6","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":220,"wires":[[]]},{"id":"35405f412126893d","type":"api-call-service","z":"713fcc8c4af70c04","name":"elektrische deken uit","server":"98a84bc7.ca2988","version":3,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.power_plug_6","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":280,"wires":[[]]},{"id":"c5cac5d973c00aa6","type":"server-state-changed","z":"6de60026cbffa5b8","name":"schakelar kleedkamer","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_ikea_1_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":120,"wires":[["5970dc15c13f0171"]]},{"id":"5970dc15c13f0171","type":"switch","z":"6de60026cbffa5b8","name":"buttons","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"brightness_move_up","vt":"str"},{"t":"eq","v":"brightness_move_down","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":360,"y":120,"wires":[["7cd9153a547ae9c2"],[],[],["b8c2314fe1bdace1"]]},{"id":"7cd9153a547ae9c2","type":"api-current-state","z":"6de60026cbffa5b8","name":"check light status","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.plafond_spots_kleedkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":610,"y":60,"wires":[["8ffbb494d93587ab"],["f78fd65d3dbf8a59"]]},{"id":"8ffbb494d93587ab","type":"api-call-service","z":"6de60026cbffa5b8","name":"plafondlamp masterbedroom uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.plafond_spots_kleedkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":40,"wires":[[]]},{"id":"f78fd65d3dbf8a59","type":"api-call-service","z":"6de60026cbffa5b8","name":"plafondlamp masterbedroom aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.plafond_spots_kleedkamer","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":100,"wires":[[]]},{"id":"b8c2314fe1bdace1","type":"api-current-state","z":"6de60026cbffa5b8","name":"check status lampen spiegel","server":"98a84bc7.ca2988","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.powerplug_ikea_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"state","propertyType":"msg","value":"","valueType":"entityState"},{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":620,"y":220,"wires":[["08a14e2c337bd63e"],["7d31e09919999bea"]]},{"id":"08a14e2c337bd63e","type":"api-call-service","z":"6de60026cbffa5b8","name":"lampen spiegel kleedkamer uit","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.powerplug_ikea_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":180,"wires":[[]]},{"id":"7d31e09919999bea","type":"api-call-service","z":"6de60026cbffa5b8","name":"lampen spiegel kleedkamer aan","server":"98a84bc7.ca2988","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.powerplug_ikea_1","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":260,"wires":[[]]},{"id":"ca28a827ea6f1603","type":"server-state-changed","z":"870fb8e55c5020c7","name":"douche water sensor","server":"98a84bc7.ca2988","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.water_sensor_douche_water_leak","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":180,"wires":[[]]},{"id":"60ae2aa74931dc65","type":"function","z":"870fb8e55c5020c7","name":"","func":"var timediff = 0\ntimediff = (msg.payload.event.new_state.last_changed) - (msg.payload.event.old_state.last_changed);\nif (timediff > 60000){\n    msg.payload = {id: msg.payload.entity_id, timediff: timediff}\n    node.warn(\"timediff is: \" + timediff)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["2cbfded83104905b"]]},{"id":"4002798a3e5ae2f6","type":"inject","z":"870fb8e55c5020c7","name":"push","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":170,"y":100,"wires":[["60ae2aa74931dc65"]]},{"id":"2cbfded83104905b","type":"debug","z":"870fb8e55c5020c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":180,"wires":[]}]